section
{
    padding: 60px 0px;
}
.abtimg
{
    background:url("/images/Sundarbans-National-Park58171.jpg") center center no-repeat ;
    background-size: cover;
    height: 60vh;
    width: 100%;
}
.abtcntent>p{
    text-align: justify;
    line-height: 1.8rem;
    
}